1.What are the characteristics of the tuples? Is tuple Immutable?

Answer : Tuples are a data type that belongs to the sequence data type category. They're similar to lists in Python, but they have the property of being immutable. We can't change the elements of a tuple, but we can execute a variety of actions on them such as count, index, type, etc

2.What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to lists.

Python Tuple Methods.
Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [4]:
A = (1,2,3,4,5)
A.index(3)

2

In [2]:
A = (1,2,3,4,5)
A.count(5)

1

3.Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove?

Answer :
    Set is a collection which is unordered and unindexed. No duplicate members.

In [11]:
List = {1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4,2, 4,3,4,4}
print(List)

{1, 2, 3, 4}

4.Explain the difference between the union() and update() methods for a set. Give an example of each method?

Answer : update() adds all missing elements to the set on which it is called whereas set. union() creates a new set. Consequently, the return value of set. update() is None (with side effects) and the return value of set.

In [12]:
# Union Method

city = {'A','B','C','D'}
city1 = {'A','E','C','F'}
city2 = city.union(city1)
print(city2)

{'E', 'B', 'D', 'F', 'C', 'A'}

In [14]:
# Update Method

city = {'A','B','C','D'}
city.update({'A','E','C','F'})
print(city)

{'E', 'B', 'D', 'F', 'C', 'A'}

5.What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered?

Answer :
Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets. Dictionaries are optimized to retrieve values when the key is known. The following declares a dictionary object.

In [19]:
# Give an example
dict1 = {'Name':['A','B','C'],
        'Age':[1,2,3],
        'Level':[4,5,6]}

df = pd.DataFrame(dict1)

display(df)

  Name  Age  Level
0    A    1      4
1    B    2      5
2    C    3      6

6. Question nested dictionary?

In [20]:
# Give an example
dict1 = {'Name':['A','B','C'],
        'Age':[1,2,3],
        'Level':[4,5,6]}

df = pd.DataFrame(dict1)

display(df)

  Name  Age  Level
0    A    1      4
1    B    2      5
2    C    3      6

7.

In [23]:
d_irritating = {'k1':[1,2,{'k2':['this is easy',{'Machine Learning':[1,2,['python']]}]}]}
print(d_irritating)
print()
d_irritating['k1'][-1]['k2'][-1]['Machine Learning'][-1][-1]

{'k1': [1, 2, {'k2': ['this is easy', {'Machine Learning': [1, 2, ['python']]}]}]}

'python'