1.What is a database? Differentiate between SQL and NoSQL databases.

Answer :

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

MySQL is a relational database that is based on a tabular design. NoSQL is non-relational and has a document-based design. A MySQL database is currently more popular in the market than NoSQL because the latter is still fairly new.

2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer :

Data Definition Language
Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of the database structure.

The DELETE command deletes one or more existing records from the table in the database. The DROP Command drops the complete table from the database. The TRUNCATE Command deletes all the rows from the existing table, leaving the row with the column names

3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer :

DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, such as: CRUD operations to create, read, update and delete data. Using INSERT, SELECT, UPDATE, and DELETE commands.

The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data:
The INSERT statement introduces new rows into an existing table.
The DELETE statement removes a row or combination of rows from a table.
The UPDATE statement enables users to update a row or group of rows in a table.

4.What is DQL? Explain SELECT with an example.

Answer :

DQL is basically used to retrieve data. It consists of commands that do so. A user can feasibly retrieve the data in accordance with their requirements using a single command: select. Meaning, the Data Query Language used for information retrieval is the SELECT statement (retrieval from the database).

A SELECT statement retrieves zero or more rows from one or more database tables or database views. In most applications, SELECT is the most commonly used data manipulation language (DML) command. As SQL is a declarative programming language, SELECT queries specify a result set, but do not specify how to calculate it.

5.Explain Primary Key and Foreign Key.

Answer :

A primary key uniquely identifies a row in a table, while a foreign key is used to link two tables together by referencing the primary key of the related table. The most important difference that you should note here is that a primary key cannot have a NULL value, whereas a foreign key can accept NULL values.

6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Answer :

import mysql.connector.

myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google", database = "mydb")

print (myconn)

mycursor = myconn.cursor()
mycursor.execute("Show database")

for x in mycursor:
print(x)

cursor() must return an instance of <module>. Cursor , and <module>. Cursor. execute() should invoke the statement provided and return the resulting rows.

7.Give the order of execution of SQL clauses in an SQL query.

Answer :

Order	Clause	Function
1	   FROM	    Tables are joined to get the base data.
2	   WHERE    The base data is filtered.
3	  GROUP BY	The filtered base data is grouped.
4	  HAVING    The grouped base data is filtered.
5	 SELECT	    The final data is returned.
6	 ORDER BY	The final data is sorted.
7	 LIMIT	    The returned data is limited to row count.


1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.